[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/Azure/mlops-infra-default.git
[submodule "data-science-regression"]
	path = data-science-regression
	url = https://github.com/Azure/mlops-project-classical-ml.git
